<br><br><br><br>
<div class="row">
  <div class="col-6 col-lg-4"><app-ventas></app-ventas></div>
  <div class="col-6 col-lg-4"><app-inventario-card></app-inventario-card></div>
  <div class="col-6 col-lg-4"><app-almacen-card></app-almacen-card></div>
  <div class="col-6 col-lg-4"><app-cliente-card></app-cliente-card></div>
  <div class="col-6 col-lg-4"><app-caja-card></app-caja-card></div>
  <div class="col-6 col-lg-4"><app-importacion-card></app-importacion-card></div>
  <div class="col-6 col-lg-4"><app-compras-card></app-compras-card></div>
  <div class="col-6 col-lg-4"><app-inventario-card></app-inventario-card></div>
  <div class="col-6 col-lg-4"><app-usuario-card></app-usuario-card></div>
</div>
